<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Category</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div >
      <ion-row >
          <ion-col size="3" class=categoryFilterLabel>
              <ion-label>
                  Category
              </ion-label>
          </ion-col>
          <ion-col size="9">
              <ion-button class="select_button">
                  <ion-select interface="popover" value="All" (ionChange)="filterPosts($event)">
                      <ion-select-option value="All">All</ion-select-option>
                      <ion-select-option value={{cats}} *ngFor="let cats of this.sharedService.myPostCategories">
                          <div>
                              <label class="select_cat">{{cats}}</label>
                          </div>
                      </ion-select-option>
                  </ion-select>
              </ion-button>
          </ion-col>
      </ion-row>
      <ion-row class="row" *ngFor="let post of this.sharedService.myPost; let i = index;" [attr.data-index]='i' (click)="getPostInfo(post,i)">
        <ion-col size = "1"></ion-col>
        <ion-card class=" card">
              <ion-card-content>
                  <ion-row>
                      
                      <ion-col size="3" class="col1">
                          <img src="{{post.attachments.image}}" class="image">
                      </ion-col>
                      <ion-col size="7" class="col2">
                          <p class="prod_name">{{post.title}}</p>
                          <p class="category">{{post.category}}/{{post.subcategory}}</p>
                          <br>
                          <!-- <p>Range: {{user.range}} Km</p> -->
                          <p class="date_time">Posted On: {{post.date}} at {{post.time}}</p>

                          <!-- <p style=" font-weight: lighter;">{{user.subcategory}}</p> -->
                      </ion-col>
                      <ion-col size="2" class="col3">
                          <ion-badge [color]="post.status === 'pending...' ? 'warning': post.status === 'successful' ? 'success':post.status === 'unsuccessful' ? 'danger':'' " class="status">{{post.status}}</ion-badge>
                      </ion-col>
                      
                  </ion-row>
              </ion-card-content>
          </ion-card>
          <ion-col size = "1"></ion-col>
      </ion-row>
    </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-icon name="add-circle" class="create" [routerLink]="['add-project']"></ion-icon>
  </ion-fab>
</ion-content>
