<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Generated Report Grade is {{this.sharedService.grade}}

  <ion-card>
    <ion-card-header>
      Bar Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
