<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="login-page">
    <div class="form">
      <form id="goForm" [formGroup]="loginForm" novalidate>
        <ion-item class="form-Control">
          <ion-input type="text" placeholder="email" formControlName = 'email'></ion-input>
        </ion-item>
        <ion-item class="form-Control">
          <ion-input type="password" placeholder="password" formControlName = 'password'></ion-input>
        </ion-item>
        <ion-button (click) = "doLogin(this.loginForm.value.email,this.loginForm.value.password)">login</ion-button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
    </div>
  </div>


</ion-content> 

