<ion-header>
  <ion-toolbar>
    <ion-title>ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



 
      <body>
          <section>
              <div class = "image">
                 <img src="https://cdn-icons-png.flaticon.com/512/6639/6639779.png">
              </div>
  
              <div class = "content">
                  <h2>About Us</h2>
                  <span><!-- line here --></span>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
                  <ul class = "links">
                      <li><a href = "#">Tushar Gavkhare</a></li>
                      <div class = "vertical-line"></div>
                      <li><a href = "#">Nandini Barkul</a></li>
                      <div class = "vertical-line"></div>
                      <li><a href = "#">Dnyanada Mahajan</a></li>
                  </ul>
                  <ul class = "icons">
                      <li>
                          <i class = "fa fa-twitter"></i>
                      </li>
                      <li>
                          <i class = "fa fa-facebook"></i>
                      </li>
                      <li>
                          <i class = "fa fa-github"></i>
                      </li>
                      <li>
                          <i class = "fa fa-pinterest"></i>
                      </li>
                  </ul>
              </div>
          </section><br><br>
          <!-- <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div> -->
      </body>
  








</ion-content>
