ion-menu-button {
    color: var(--ion-color-primary);
}
  
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  * {
    font-family: Roboto;
}

ion-title {
    font-family: Roboto;
    text-align: center;
    padding-left: 0%;
}

.icon {
    align-content: flex-start;
    margin-top: 2%;
}

ion-button {
    --background: rgb(216, 211, 209);
    --color: black;
    border-style: hidden;
    border-top-left-radius: 10px !important;
    padding: 0%;
    border-radius: 0% !important;
}

.select_button {
    font-size: 1.5em;
    font-weight: unset;
    --background: rgb(228, 228, 228);
    text-transform: none !important;
}

select {
    background-color: transparent;
    border: transparent;
}

.card {
    height: 80%;
    background-color: lighten(#ffed75, 20%);
    padding: 0px 0px 0px 0px !important;
    border-radius: 1px;
    box-shadow: 0%;
}

.col1 {
    border-right: 2px solid rgb(151, 149, 147);
    border-spacing: inherit;
    text-align: center;
}

.image {
    display: block;
    width: 90%;
    height: 90%;
    text-align: center;
    // object-fit: inherit;
    border-radius: 50% !important;
}


.prod_name {
    color: black;
    text-shadow: none;
}

.status {
    --background: #245666;
    border-radius: 0%;
    font-weight: lighter;
    position: relative;
    bottom: 0;
    right: 0;
    padding-right: 3%;
    padding-left: 3%;
    transform: translate(-33%, 365%);
}

p {
    margin: 0;
    color: black;
}

.date_time {
    font-size: 10px;
}

.create {
    font-size: 40px;
    color: #245666;
}

.back_but {
    font-size: 30px;
    color: black;
    display: inline-block;
}

ion-card-content {
    padding: 20px 0px 20px 0px !important;
}

.categoryFilter {
    margin-inline: 10px;
    align-items: center;
}

.categoryFilterLabel {
    font-size: 1.5em;
    text-align: center;
}